.list_items-set {
    width: 50%;
    margin: auto;
    margin-bottom: 10px;

}
.list_items-set li{
    list-style: none;
    width: 60%;
    width: auto;
    padding: 10px 20px;
    text-align: left;
    border: 1px solid black;
    margin-top: 10px;
}
.list_items-set span{
    float: right;
}