.input-container{
    text-align: center;
}
.input-container input{
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
}

.add-btn{
    height: 40px;
    width: 40px;
    background-color: purple;
    border-radius: 50%;
    border:1px solid #fff;
    margin-left: 12px;
    color: #fff;
    font-weight: 900;
    font-size: 1.3rem;
}